<p class="text-mute m-b-1">These icons are saved locally and are not uploaded to any server.</p>

<div id="wallet-icon-upload" class="u-textCenter">
	<input type="file" name="wallet-icon-file" class="file-input" id="wallet-icon-file" />
	<label class="button button-primary button-large loader" for="wallet-icon-file">Choose a file</label>
</div>

<div id="wallet-icon-crop" class="u-textCenter">
	<div id="wallet-icon-preview-container" class="m-b-1">
		<img id="wallet-icon-preview" />
	</div>

	<div class="wallet-asdfghjkl-group">
		<div class="wallet-icon" id="wallet-icon-small-preview"></div>
		<a class="button" id="wallet-icon-choose-another">Choose another</a>
	</div>
</div>