{{#unless firstTime}}<button class="button button-red" id="login-forgot-password">Forgot password</button>{{/unless}}
<button class="button button-primary modal-submit">{{#if firstTime}}Create password{{else}}Login{{/if}}</button>