{{#if firstTime}}
	<p>Enter a master password to encrypt your wallets (<a class="login-storage-help" data-bypass>learn more</a>).</p>
	<p class="u-textMute u-textSmall m-b-1">Never forget this password. If you forget it, you will have to create a new one and save all
		your wallets again.</p>
{{else}}
	<p class="m-b-1">Enter your master password to access your wallets.</p>
{{/if}}

<input type="password" class="text-input" placeholder="Master password" id="login-password" />
<label for="login-password" class="label-hint label-hidden" id="login-label">&nbsp;</label>