<p class="m-b-1">Your browser is missing a feature required by KristWeb. Please upgrade your web browser.</p>

{{#if feature}}
	<p class="m-b-1">Missing required feature: <b class="text-red">{{feature}}</b></p>
{{/if}}

<p class="m-b-1">Please upgrade to the latest version one of these recommended browsers:</p>
<div class="browser-choice">
	<a href="https://www.google.com/chrome/" data-bypass><img src="img/google_chrome.png" />Google Chrome</a>
	<a href="https://www.mozilla.org/en-GB/firefox/new/" data-bypass><img src="img/mozilla_firefox.png" />Mozilla Firefox</a>
</div>