<div class="row" id="overview"></div>
<div class="row">
	<div class="col-xs-12 m-b-1" id="motd-panel">

	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12 m-b-1" id="activity-panel">

	</div>
	<div class="col-md-6 col-xs-12 m-b-1" id="network-panel">

	</div>
</div>