<div class="row m-b-2">
	<div class="alert orange">
		Welcome to the KristWeb private beta! Please report all bugs to Lemmmy on Slack <strong>in a private message</strong>.
		<br /><strong>Note: </strong> Unimplemented features are not bugs.
	</div>
</div>
<div class="row" id="overview"></div>
<div class="row">
	<div class="col-xs-12 m-b-1" id="motd-panel">

	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12 m-b-1" id="activity-panel">
		<div class="loading-indicator"></div>
	</div>
	<div class="col-md-6 col-xs-12 m-b-1" id="network-panel">
		<div class="loading-indicator"></div>
	</div>
</div>
<div class="page-filler"></div>
<div id="network-footer"></div>