<div class="wallet-icon"{{#if icon}}style="background-image: url({{icon}});"{{/if}}></div>
<div class="wallet-info">
  {{#if label}}<span class="wallet-label">{{label}}</span>{{/if}}
  {{#if address}}<span class="wallet-address">{{address}}</span>{{/if}}
  {{#if balance}}
    <span class="text-mute">&ndash;</span>
    <span class="wallet-balance">{{krist balance}}</span>
  {{/if}}
</div>
<div class="wallet-controls">
  <i class="wallet-control wallet-control-edit icon-pencil" title="Edit"></i>
  <i class="wallet-control wallet-control-remove icon-cancel" title="Remove"></i>
</div>