<p class="m-b-1">
	While Krist as a currency is designed to use the same server, there may be fork currencies running
	the server software, e.g. Luran. As well as this, you may desire to host your own server for testing or debugging
	purposes.
</p>

<p>
	The <b>sync node</b> refers to the server that you connect to in order to access Krist. This is most commonly
	<code>krist.ceriat.net</code>, the default, and should be left that way. You'll usually know if you need to use
	a custom sync node.
</p>