<label for="wallet-format" style="display: inline-block; padding-bottom: 0.5rem;">Name Recipient</label>

<div id="recipient-container"></div>
<label for="recipient" class="label-hint label-hidden" id="recipient-label">&nbsp;</label>
