<div class="row" id="overview">
	<div class="col-xs-12">
		<h1>{{toFixed (storagePercent) 2}}% Storage Used</h1>

		<div class="progress-bar" title="{{storageUsed}}">
			<div class="progress" style="width: {{storagePercent}}%;">
				<span class="progress-text">{{storageUsed}}</span>
			</div>
		</div>

		<p class="text-mute text-small"><b>Note:</b> The maximum storage space shown here is an estimate based on the limits of common web browsers.
			The actual limit in your browser may differ.</p>
	</div>
</div>