<div class="sidebar-item sidebar-top">
	<input class="searchBox" type="text" placeholder="Search..." />
</div>
<!--<a class="sidebar-item">Overview</a>
<a class="sidebar-item">Transactions</a>
<a class="sidebar-item">Economicon</a>
<a class="sidebar-item">Name Manager</a>
<a class="sidebar-item">Settings</a>-->

{{#each sidebarItems}}
	<a class="sidebar-item{{#if active}} active{{/if}}" href="{{path}}">{{name}}</a>
{{/each}}