<div class="row">
  <div class="panel col-md-4 col-sm-5 col-xs-12 first-sm" id="friends-left">
    <div class="panel-header">
      <h4 class="panel-title">Address Book</h4>
      <a class="panel-header-button friend-list-add-friend"><i class="icon-plus"></i></a>
    </div>
    <div class="panel-body panel-list" id="friend-list-container">
      <div id="friend-list"></div>
      <div class="wallet-chooser-wallet wallet-action wallet-add friend-list-add-friend">
        <div class="wallet-icon"></div>
        <div class="wallet-info">
          Add Contact
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-with-footer col-md-8 col-sm-7 col-xs-12 first-xs" id="friends-right">
    <div class="panel-body" id="friend-edit-container">
    </div>
  </div>
</div>