<div class="panel-header cf">
	<h4 class="panel-title"><a href="/transactions/{{address}}">Recent Transactions</a></h4>
	<a class="panel-header-button" id="activity-notifications">
		<i class="icon-bell-off"></i>
	</a>
</div>
<ul class="panel-body panel-list" id="activity-list">
</ul>
<a href="/transactions/{{address}}" class="panel-outer-footer">View all</a>