<div class="wallet-label-group">
	<div class="wallet-icon focusable focusable-border" id="friend-icon" tabindex="1">Icon</div>
	<input type="text" class="text-input" placeholder="Label (optional)" id="friend-label" tabindex="2" />
</div>

<label for="friend-label" class="label-hint label-hidden" id="friend-label-label">&nbsp;</label>

<input type="text" class="text-input" placeholder="Address" id="friend-address" tabindex="3" />
<label for="friend-address" class="label-hint label-hidden" id="friend-address-label">&nbsp;</label>