<div class="wallet-label-group">
	<div class="wallet-icon" id="friend-icon">Icon</div>
	<input type="text" class="text-input" placeholder="Label (optional)" id="friend-label" />
</div>

<label for="friend-label" class="label-hint label-hidden" id="friend-label-label">&nbsp;</label>

<input type="text" class="text-input" placeholder="Address" id="friend-address" />
<label for="friend-address" class="label-hint label-hidden" id="friend-address-label">&nbsp;</label>