.alert {
  width: 100%;

  padding: 1rem;

  border: 1px solid #ccc;
  background: #f5f5f5;

  border-radius: 4px;

  color: #555;

  .alert-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 0.25rem;
  }

  .alert-text {
    display: inline;
  }

  .alert-close {
    cursor: pointer;
  }

  &.red {
    background: desaturate(lighten($primary-red, 25%), 20%);
    border-color: $primary-red;

    color: darken($primary-red, 25%);
  }

  &.green {
    background: desaturate(lighten($primary-green, 30%), 10%);
    border-color: $primary-green;

    color: darken($primary-green, 25%);
  }

  &.orange {
    background: desaturate(lighten($primary-orange, 30%), 10%);
    border-color: $primary-orange;

    color: darken($primary-orange, 25%);
  }

  &.blue {
    background: desaturate(lighten($primary-blue, 30%), 10%);
    border-color: $primary-blue;

    color: darken($primary-blue, 25%);
  }
}

#alert-bar {
  background: $primary-red;
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  span {
    padding: 0.75rem 1rem;
  }
}