.badge {
  $color: $primary-light-grey;
  $textColor: #333;

  display: inline-block;
  padding: 0.1rem 0.5rem;

  background: $color;
  color: $textColor;
  border-radius: 3px;
  font-size: 16px;
}

@mixin badge-style($color, $textColor) {
  background: $color;
  color: $textColor;
}
f
.badge-primary {
  @include badge-style($primary-blue, #fff);
}

.badge-green {
  @include badge-style($primary-green, #fff);
}

.badge-green-light {
  @include badge-style(lighten($primary-green, 10%), #fff);
}

.badge-red {
  @include badge-style($primary-red, #fff);
}

.badge-large {
  padding: 0.25rem 0.75rem;
  font-size: 24px;
}