.friends {
	height: 100%;

	.row {
		height: 100%;
	}

	#friends-left, #friends-right {
		height: 100%;
	}

	#friends-left {
		flex: 1;
		margin-right: 1.5rem;

		@media screen and (max-width: 48rem) {
			margin-right: 0;
			margin-top: 1.5rem;
			margin-bottom: 2rem;
		}

		@media screen and (max-width: $break-small) {
			margin-top: 1rem;
			margin-bottom: 1.5rem;
		}
	}
}