#krist-network-footer {
  margin-bottom: 1rem;

  h2 {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 1px solid currentcolor;
    padding-bottom: 2px;
    margin-bottom: 0.35rem;
  }

  .col-md-3 {
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}