#address-overview, #wallet-overview {
	width: 100%;

	#wallet-overview-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.left-col {
			display: flex;
			flex-direction: column;
			line-height: 1;
			flex-shrink: 0;

			border-right: 1px solid $primary-light-grey;
			padding-right: 2rem;

			.address {
				color: $primary-blue;
				font-family: "Roboto";
				font-weight: 100;
				font-size: 36px;
			}

			.balance {
				color: $primary-green;
				font-size: 18px;
			}
		}

		.right-col {
			padding-left: 2rem;

			.button {
				display: block;
			}

			.badge {
				margin-top: 0.25rem;
			}
		}

		@media screen and (max-width: 700px) {
			flex-direction: column;
			align-items: flex-start;

			.left-col {
				border-right: none;
				padding-right: 0;
				padding-bottom: 1rem;
			}

			.right-col {
				padding-left: 0;
				flex-direction: row;
				align-items: center;

				.button {
					margin-right: 1rem;
				}
			}
		}
	}
}