.pageContainer {
    width: 100%;
    height: 100%;
    position: relative;

    background: #fff;

    .sidebar {
        position: absolute;
        width: 240px;
        height: 100%;
        left: -240px;
        // overflow: auto;
        transition: left 250ms ease;
        z-index: 151;
    }

    .pageMain {
        overflow: auto;
        padding: 24px 32px;
        transition: margin-left 250ms ease;

        @media screen and (max-width: $break-small) {
            padding: 12px 16px;
        }
    }

    .sidebar-dim {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        transition: opacity 250ms ease;
        z-index: 150;
        pointer-events: none;

        @media screen and (max-width: $break-small) {
            display: block;
            cursor: pointer;
        }
    }

    &.sidebar-open {
        .sidebar {
            left: 0;
        }

        .pageMain {
            @media screen and (min-width: $break-small + 1px) {
                margin-left: 240px;
            }
        }

        .sidebar-dim {
            @media screen and (max-width: $break-small) {
                opacity: 1;
                pointer-events: initial;
            }
        }
    }
}
