.pageContainer {
    width: 100%;
    height: 100%;
    position: relative;

    background: #fff;

    .sidebar {
        position: absolute;
        width: 240px;
        height: 100%;
        left: -240px;
        // overflow: auto;
        transition: all 250ms ease;
        z-index: 151;
    }

    .pageMain {
        height: calc(100vh - 48px);
        overflow: auto;
        padding: 1.5rem 2rem;
        transition: margin-left 250ms ease;

        @media screen and (max-width: $break-small) {
            padding: 1rem 1.5rem;
        }
    }

    #login-first {
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: #fff;

        transition: left 250ms ease;

        h1 {
            color: $primary-blue;
            font-weight: 300;
            font-size: 36px;

            margin-bottom: 1rem;
        }
    }

    .sidebar-dim {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        transition: opacity 250ms ease;
        z-index: 150;
        pointer-events: none;

        @media screen and (max-width: $break-small) {
            display: block;
            cursor: pointer;
        }
    }

    &.sidebar-open {
        .sidebar {
            left: 0;
        }

        .pageMain {
            @media screen and (min-width: $break-small + 1px) {
                margin-left: 240px;
            }
        }

        #login-first {
            @media screen and (min-width: $break-small + 1px) {
                left: 240px;
            }
        }

        .sidebar-dim {
            @media screen and (max-width: $break-small) {
                opacity: 1;
                pointer-events: initial;
            }
        }
    }
}


@keyframes trumpet {
    0% {
        top: -120px;
        transform: rotate(0deg);
    }

    100% {
        top: 100%;
        transform: rotate(1080deg);
    }
}

.trumpet {
    position: absolute;
    z-index: 1200;

    animation: trumpet 2s linear infinite;
    animation-iteration-count: 1;
}

.yin {
    position: absolute;
    right: 0;
    bottom: 0;

    opacity: 0.1;
}