.panel {
	display: flex;
	flex-direction: column;

	.panel-header {
		flex: 0 0 41px;
		background: $primary-blue;
		border-radius: 3px 3px 0 0;
		padding: 0.5rem 0.75rem;
		display: flex;
		flex-direction: row;
		width: 100%;
		color: #fff;
		opacity: 1;

		transition: all 200ms ease;

		.panel-title {
			font-weight: 400;
			flex: 1 0;
			flex-basis: 0;
		}

		.panel-header-button {
			background: transparent;
			color: #fff;
			border-radius: 4px;

			&:hover {
				background: #fff;
				color: $primary-blue;
			}
		}
	}

	.panel-body {
		background: #fff;
		border: 1px solid $primary-blue;
		padding: 0.75rem;

		flex: 1;

		&:first-child {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		&:last-child {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&.panel-list {
			padding: 0;

			li {
				padding: 0.75rem;
			}
		}
	}

	&.panel-with-footer {
		.panel-body {
			padding: 0;

			.panel-body-inner {
				flex: 1;
				padding: 0.75rem;
			}

			.panel-footer {
				background: #f5f5f5;
				padding: 1rem;
			}
		}
	}

	&.panel-fullwidth {
		width: 100%;
	}
}

.input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;

	.text-input {
		flex: 1;
		display: inline-block;
		width: auto;
		margin: 0 0.5rem;
	}
}