.progress-bar {
	display: block;
	width: 100%;
	height: 28px;

	border: 1px solid darken($primary-blue-darker, 5%);
	border-radius: 3px;

	overflow: hidden;

	.progress {
		display: block;
		background: $primary-blue;
		height: 100%;
		color: #fff;
		text-align: center;
		line-height: 26px;

		transition: all 250ms ease;
	}
}