.sidebar {
    background: #444;
    overflow-y: auto;
    height: 100%;

    transition: background 250ms ease;

    #sidebar-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .sidebar-item-container {
            flex: 1;
            overflow: hidden;
        }
    }

    .sidebar-item {
        padding: 12px 16px;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        width: 100%;

        transition: all 200ms ease;

        &:not(.sidebar-search):not(.disabled) {
            cursor: pointer;

            &.active {
                background: #343434;

                &:hover {
                    background: darken(#343434, 5%);
                }
            }

            &:focus {
                background: #5a5a5a;
            }

            &:hover {
                background: #777;
            }
        }

        &.disabled {
            opacity: 0.5;
            cursor: default;
        }
    }

    .credit {
        margin-top: 0.5rem;
        font-size: 15px;
        opacity: 0.5;
    }
}
