.sidebar {
    background: #555;
    overflow-y: auto;
    height: 100%;

    transition: background 250ms ease;

    .sidebar-item {
        padding: 12px 16px;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        width: 100%;
        transition: all 200ms ease;
        background: rgba(#000, 0.1);

        transition: background 250ms ease;

        &:not(.sidebar-search) {
            cursor: pointer;

            &:hover {
                background: #777;
            }

            &.active {
                background: #343434;

                &:hover {
                    background: darken(#343434, 5%);
                }
            }
        }
    }

    .sidebar-top {
        padding: 16px;
    }
}
