#transaction-overview {
	width: 100%;

	#transaction-overview-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.top {
			display: flex;
			flex: 1;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			.from, .to {
				color: $primary-blue;
				font-family: "Roboto", sans-serif;
				font-weight: 100;
				font-size: 30px;
			}

			.action {
				display: flex;
				flex-direction: row;
				align-items: center;

				.icon-right {
					margin: 0 0.5rem;
				}

				.value {
					font-family: "Roboto", sans-serif;
					font-weight: 100;
					font-size: 36px;
					color: $primary-green;
				}
			}
		}

		.info {
			#transaction-time {
				display: inline-block;
				padding: 0 2rem;

				@media screen and (max-width: $break-small) {
					display: block;
				}
			}
		}

		.meta {
			width: 100%;
			margin-top: 1rem;

			.metadata {
				position: relative;
				width: 100%;
				border-radius: 8px;
				background: #f5f5f5;

				.icon-quote-left {
					position: absolute;
					font-size: 48px;
					top: 0;
					left: 0;
					z-index: 1;
					opacity: 0.3;

					@media screen and (max-width: $break-small) {
						font-size: 32px;
					}
				}

				p {
					display: inline-block;
					width: 100%;
					z-index: 2;
					text-align: center;
					font-size: 22px;
					padding: 2rem;

					@media screen and (max-width: $break-small) {
						padding: 1rem;
					}
				}
			}
		}
	}
}