@keyframes wallet-chooser {
	from { margin-top: -3rem; opacity: 0; }
	to { margin-top: 0.5rem; opacity: 1; }
}

@keyframes wallet-chooser-away {
	from { margin-top: 0.5rem; opacity: 1; }
	to { margin-top: -3rem; opacity: 0; }
}

#wallet-chooser-container {
	position: absolute;

	top: 48px;
	right: 0;

	margin: 0.5rem;
	width: 320px;

	z-index: 105;

	opacity: 0;
	animation-fill-mode: both;
	transform: translateZ(0);
	backface-visibility: hidden;

	@media all and (max-width: $break-small) {
		width: auto;
		left: 0;
	}

	&:before, &:after {
		top: -16px;
		right: 16px;
		border: solid transparent;
		content: " ";
		height: auto;
		width: auto;
		position: absolute;
		pointer-events: none;
	}

	//noinspection CssOptimizeSimilarProperties
	&:before {
		border-color: rgba(#ccc, 0);
		border-bottom-color: #ccc;
		border-width: 8px;
		margin-right: -8px;
	}

	//noinspection CssOptimizeSimilarProperties
	&:after {
		border-color: rgba(#fff, 0);
		border-bottom-color: #fff;
		border-width: 9px;
		margin-right: -9px;
	}

	&.shown {
		animation: wallet-chooser 500ms ease;
		opacity: 1;
	}

	&.hidden {
		animation: wallet-chooser-away 400ms ease;
	}

	&:not(.shown) {
		pointer-events: none;
	}

	#wallet-chooser {
		max-height: 320px;

		background: #fff;
		border: 1px solid #ccc;
		border-radius: 6px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

		text-align: left;

		overflow-y: auto;

		@media all and (max-width: 320px) {
			max-width: 100%;
			min-width: unset;
			max-width: unset;
			width: auto;
			left: 0;
		}

		.wallet {
			display: flex;
			flex-direction: row;
			align-items: center;
			background: transparent;
			transition: 250ms all ease;
			padding: 0.5rem;
			margin: 0.5rem;
			border-radius: 6px;
			cursor: pointer;
			border: 1px solid transparent;

			.wallet-icon {
				width: 38px;
				height: 38px;
				border-radius: 3px;
				border: 1px solid #ccc;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
				background: #fafafa;
				background-size: cover;
			}

			.wallet-info {
				margin-left: 0.5rem;
				line-height: 1;
				flex: 1;

				.wallet-label {
					display: block;
					font-weight: 400;
				}

				.weight-address {
					display: block;
				}
			}

			&:hover {
				background: #f8f8f8;
			}

			&.wallet-add {
				.wallet-icon {
					border-color: $primary-blue;
					display: flex;
					align-items: center;
					justify-content: center;

					opacity: 0.4;
					transition: opacity 250ms ease;

					&:before {
						display: inline-block;
						content: '\e806';
						font-family: 'kristweb';
						font-size: 16px;
						cursor: pointer;
						color: $primary-blue;
					}
				}

				&:hover {
					.wallet-icon {
						opacity: 1.0;
					}
				}
			}

			.wallet-controls {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				@media all and (max-width: $break-small) {
					flex-direction: row;
				}

				.wallet-control {
					font-size: 14px;
					opacity: 0.2;

					transition: all 250ms ease;

					&:hover {
						opacity: 0.8;
					}

					@media all and (max-width: $break-small) {
						font-size: 20px;
					}
				}
			}

			&.active {
				background: $primary-blue-white;
				border-color: lighten($primary-blue, 15%);
			}
		}
	}
}