<div class="sidebar-item-container">
  {{#each sidebarItems}}
    <a class="sidebar-item{{#if active}} active{{/if}}{{#if disabled}} disabled{{/if}}" href="{{path}}"{{#if disabled}} title="Not implemented yet, sorry!"{{/if}}>{{name}}</a>
  {{/each}}
</div>

<div class="sidebar-item sidebar-search">
  <input class="searchBox" type="text" placeholder="Search... (NYI)" title="Not implemented yet, sorry!" />
  <p class="credit u-textCenter">Made by Lemmmy</p>
  <p class="credit u-textCenter">
    <a data-bypass href="https://github.com/Lemmmy/KristWeb">GitHub</a>
    <span class="text-mute">&ndash;</span>
    <a data-bypass href="https://github.com/Lemmmy/KristWeb/commits/master">Changelog</a>
  </p>
</div>