<a class="button" tabindex="1" id="wallets-code-save">Save to File</a>
<a class="button button-primary modal-submit" tabindex="2" id="wallets-code-copy-to-clipboard" data-clipboard-target="#wallets-code">Copy to Clipboard</a>