<p class="m-b-1">
  This secret code contains your wallets and address book contacts. You can use it to import them in another browser, or to back them up. <b>Do not share this code with anyone.</b>
</p>

<p class="m-b-1 u-textSmall">
  Size: <b><span id="wallets-code-size">0</span> KiB</b>
</p>

<textarea class="text-input" id="wallets-code" tabindex="1" rows="6"></textarea>