<p class="m-b-1">If you forgot your wallet password, you unfortunately will have to reset it. This will also clear all
your saved KristWeb wallets and settings. Your Krist wallets are safe, and will not be affected at all.</p>

<p class="m-b-1"><a class="login-storage-help" data-bypass>Learn more about wallet storage</a></p>

<p><b>Are you sure you want to reset your password?</b></p>