<p class="m-b-1">When you add a wallet to KristWeb, the privatekey for the wallet is saved to your browser's local storage and
encrypted with your master password.</p>

<p>Every wallet you save is encrypted using the same master password, and you
will need to enter it every time you open KristWeb. Your actual Krist wallet is not modified in any way.</p>