<div class="commonmeta-view">
  <div class="commonmeta-tabs">
    <a class="commonmeta-tab active" data-tab="raw">Raw</a>
    <a class="commonmeta-tab" data-tab="table">CommonMeta</a>
  </div>
  <div class="commonmeta-content">
    <div class="commonmeta-page commonmeta-raw active">
      <p>{{nl2br raw}}</p>
    </div>
    <table class="commonmeta-page commonmeta-table">
      {{#each commonMeta}}
        <tr>
          <td class="commonmeta-key">{{key}}</td>
          <td class="commonmeta-value">{{value}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>