<div class="row text-center m-b-1">
	<div class="col-xs-12 top">
		<span class="action">Address &amp; Name Lookup</span>
		<input type="text" class="text-input" placeholder="Address or name" id="address" tabindex="1" autofocus />
		<label for="address" class="label-hint label-hidden" id="address-label">&nbsp;</label>
	</div>
</div>
<div class="row text-center">
	<div class="col-xs-12">
		<a class="button button-primary button-large" id="address-search" tabindex="2">Lookup</a>
	</div>
</div>