<div class="row m-b-1" id="overview">
  <div class="loading-indicator"></div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12 m-b-1" id="activity-panel">
    <div class="loading-indicator"></div>
  </div>
  <div class="col-md-6 col-xs-12 m-b-1" id="names-panel">
    <div class="loading-indicator"></div>
  </div>
</div>

<div id="network-footer" class="m-t-2"></div>