@font-face {
	font-family: 'kristweb';
	src: url('/font/kristweb.eot?43852578');
	src: url('/font/kristweb.eot?43852578#iefix') format('embedded-opentype'),
	url('/font/kristweb.woff2?43852578') format('woff2'),
	url('/font/kristweb.woff?43852578') format('woff'),
	url('/font/kristweb.ttf?43852578') format('truetype'),
	url('/font/kristweb.svg?43852578#kristweb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "kristweb";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	font-variant: normal;
	text-transform: none;

	line-height: 1em;
	margin-left: .2em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before { content: '\e800'; }
.icon-caret-down:before { content: '\e801'; }
.icon-send:before {
	content: '\e802';
	position: relative;
	left: -2px;
	top: 1px;
}
.icon-bell:before { content: '\e803'; } /* '' */
.icon-bell-off:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-login:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-dollar:before { content: '\e80d'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */