//
// Typography related styles.
// Taken from various sources (e.g., HTML5boilerplate, Web Starter Kit, SUITCSS, ...)
//

body {

  // make'em look nice
  // fonts on OSX will look more consistent with other systems that do not render text using sub-pixel anti-aliasing
  // although grayscale is inferior to sub-pixel anti-aliasing, most fonts were designed for the 'thinner' anti-aliasing and look better that way
  // setting the smoothing beforehand prevents an ugly flickering of font 'thickness' when animations start and stop
  // http://davidwalsh.name/font-smoothing
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	color: $fontColorDefault;
}

a {
	color: $primary-blue;
	cursor: pointer;
}

h1 {
	display: block;
	font-weight: 400;
	font-size: 32px;
}

h2 {
	display: block;
	font-weight: 300;
	font-size: 26px;
}

.hash {
	font-family: "Inconsolata", monospace;
	color: $primary-blue;

	b {
		color: $primary-green;
		font-weight: 700;
	}
}