//
// Variables
//
//

// colors
$black: #000;
$gray: #C0C0C0;
$fontColorDefault: #333333;

// palette
$primary-blue: #3897d9;
$primary-blue-lighter: #59bcfb;
$primary-blue-darker: #2185cb;
$primary-green: #64d98a;
$primary-green-darker: #5eca7f;
$primary-light-grey: #f2f1ef;
$primary-dark-grey: #dedddb;
$primary-darker-grey: #ccc;
$primary-dark: #536270;
$primary-red: #e85e4f;

$break-small: 512px;
$break-medium: 768px;
