{{#unless firstTime}}<a class="button button-red" id="login-forgot-password">Forgot password</a>{{/unless}}
<a class="button button-primary modal-submit" tabindex="2">{{#if firstTime}}Create password{{else}}Login{{/if}}</a>