<div class="panel-header">
	<h4 class="panel-title">Krist Network</h4>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-3 col-xs-12">
			<h2>Addresses</h2>
			<ul>
				<li><a href="/addressbook">Address Book</a></li>
				<li><a href="/economicon/richlist">Top Addresses</a></li>
				<li><a href="/address/lookup">Address Lookup</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-xs-12">
			<h2>Blocks</h2>
			<li><a href="/blocks">Network Blocks</a></li>
			<li><a href="/blocks/lowest">Lowest Hashes</a></li>
		</div>
		<div class="col-md-3 col-xs-12">
			<h2>Transactions</h2>
			<ul>
				<li><a href="/transactions">My Transactions</a></li>
				<li><a href="/transactions/all">Network Transactions</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-xs-12">
			<h2>Names</h2>
			<li><a href="/names">My Names</a></li>
			<li><a href="/names/all">Network Names</a></li>
		</div>
	</div>
</div>