<p class="m-b-1">Many different wallets in Krist use your password in different ways. While you may type in the same
password, if you choose a different wallet format it will be sent to the Krist server slightly differently, thus
affecting the address of your wallet.</p>

<p class="m-b-1">If you want to access a wallet using the plain passwords used in the Krist API, select the Krist API wallet format.</p>

<p>The KW-Username wallet formats require a username. Your KW-Username wallet <i>probably</i> uses the appendhashes format.</p>