<p class="m-b-1">
	Copy this code to import your wallets elsewhere, or back them up. <b>Do not share this code with anyone.</b>
</p>

<textarea class="text-input" id="wallets-code" tabindex="1" rows="6"></textarea>