<p class="m-b-1">
	Paste the wallets code (or import from a file below) and enter the corresponding master password.
</p>

<input type="password" class="text-input" placeholder="Master password" id="master-password" tabindex="1" />
<label for="master-password" class="label-hint label-hidden" id="password-label">&nbsp;</label>

<textarea class="text-input" id="wallets-code" tabindex="2" rows="4"></textarea>
<label for="wallets-code" class="label-hint label-hidden" id="code-label">&nbsp;</label>

<label>
	<input type="file" name="wallets-code-file-import" id="wallets-code-file-import" style="display: none" />
	<a class="button" tabindex="3">Import from file</a>
</label>