<div class="panel-header cf">
  <h4 class="panel-title"><a href="/names/{{address}}">Names</a></h4>
</div>
<ul class="panel-body panel-list" id="name-list">
</ul>
<a href="/names/{{address}}" class="panel-outer-footer">View all</a>