<div class="row m-b-2" id="https-alert">
  <div class="alert red">
    You are accessing KristWeb over an insecure HTTP connection. Please <a data-bypass href="https://kristweb.lemmmy.pw">switch to HTTPS</a> for maximum security.
  </div>
</div>
<div class="row m-b-2">
  <div class="alert blue">
    Welcome to the KristWeb beta! Please report all bugs on <a data-bypass href="https://github.com/Lemmmy/KristWeb/issues">GitHub</a>. Thanks!
    <br /><strong>Note: </strong> Unimplemented features are not bugs.
  </div>
</div>
<div class="row" id="overview"></div>
<div class="row">
  <div class="col-xs-12 m-b-1" id="motd-panel">

  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12 m-b-1" id="activity-panel">
    <div class="loading-indicator"></div>
  </div>
  <div class="col-md-6 col-xs-12 m-b-1" id="network-panel">
    <div class="loading-indicator"></div>
  </div>
</div>
<div class="page-filler"></div>
<div id="network-footer"></div>