<div class="topBar">
	<div class="topBar-left">
		<div class="sidebar-opener" id="sidebar-opener"></div>
		<span class="topBar-title">
			KristWeb
		</span>
		<span class="topBar-version">
			b0.2.0
		</span>
	</div>
	<div class="topBar-right">
		<div class="topBar-connectionInfo" id="topBar-connectionInfo" title="Live connection status">
			<span class="connectionLabel">
				Disconnected
			</span>
			<span class="connectionBulb"></span>
		</div>
		<div class="topBar-addressInfo-container" id="topBar-address-info">
			Not logged in
		</div>
		<div class="topBar-addressSelector" id="wallet-chooser-button">
			<i class="icon-caret-down"></i>
		</div>
	</div>
</div>
<div id="wallet-chooser-container">
	<div id="wallet-chooser">
		<div id="wallet-list"></div>
		<div class="wallet-chooser-wallet wallet-add" id="wallet-chooser-add-wallet">
			<div class="wallet-icon"></div>
			<div class="wallet-info">
				Add Wallet
			</div>
		</div>
		<div class="wallet-chooser-wallet wallet-login" id="wallet-chooser-login-wallet">
			<div class="wallet-icon"></div>
			<div class="wallet-info">
				One-time login
			</div>
		</div>
	</div>
</div>
<div class="pageContainer" id="page-container">
	<div id="modalsContainer"></div>

	<div class="sidebar" id="sidebar"></div>
	<div class="sidebar-dim" id="sidebar-dim"></div>

	<div class="pageMain" id="app-content"></div>
	<div id="login-first"><h1>Welcome to KristWeb!</h1><span>Get started by adding a wallet in the top right.</span></div>
</div>
