<div class="topBar">
	<div class="topBar-left">
		<div class="sidebar-opener" id="sidebar-opener"></div>
		<span class="topBar-title">
			KristWeb
		</span>
		<span class="topBar-version">
			b{{appVersion}}
		</span>
	</div>
	<div class="topBar-right">
		<div class="topBar-connectionInfo" id="topBar-connectionInfo" title="Live connection status">
			<span class="connectionLabel">
				Disconnected
			</span>
			<span class="connectionBulb"></span>
		</div>
		<div class="topBar-addressInfo-container" id="topBar-address-info">
			Not logged in
		</div>
		<div class="topBar-addressSelector" id="wallet-chooser-button">
			<i class="icon-caret-down"></i>
		</div>
	</div>
</div>
<div id="alert-bar"></div>
<div id="wallet-chooser-container">
	<div id="wallet-chooser">
		<div id="wallet-list"></div>
		<hr>
		<div class="wallet-chooser-button-row">
			<div class="wallet-chooser-wallet wallet-action wallet-add" id="wallet-chooser-add-wallet">
				<div class="wallet-icon"></div>
				<div class="wallet-info">
					Add wallet
				</div>
			</div>
			<div class="wallet-chooser-wallet wallet-action wallet-login" id="wallet-chooser-login-wallet">
				<div class="wallet-icon"></div>
				<div class="wallet-info">
					One-time login
				</div>
			</div>
		</div>
		<div class="wallet-chooser-button-row">
			<div class="wallet-chooser-wallet wallet-action wallet-import" id="wallet-chooser-import-wallets">
				<div class="wallet-icon"></div>
				<div class="wallet-info">
					Import wallets
				</div>
			</div>
			<div class="wallet-chooser-wallet wallet-action wallet-export" id="wallet-chooser-export-wallets">
				<div class="wallet-icon"></div>
				<div class="wallet-info">
					Export wallets
				</div>
			</div>
		</div>
		<div class="wallet-chooser-extra-spacing"></div>
	</div>
</div>
<div class="pageContainer" id="page-container">
	<div id="modalsContainer"></div>

	<div class="sidebar" id="sidebar"></div>
	<div class="sidebar-dim" id="sidebar-dim"></div>

	<div class="pageMain" id="app-content"></div>
	<div id="login-first"><h1>Welcome to KristWeb!</h1><span>Get started by adding a wallet in the top right.</span></div>
</div>
