<a class="button" id="b1">Test dialog</a>
<a class="button" id="b2">Login dialog</a>
<a class="button" id="b3">First login dialog</a>
<a class="button" id="b4">Create jwalelset</a>
<a class="button button-green" id="sync">Sync</a>
<a class="button button-green" id="fetch">Fetch</a>
<a class="button button-red" id="clearLocalStorage">Clear localstorage</a>