<button class="button" id="b1">Test dialog</button>
<button class="button" id="b2">Login dialog</button>
<button class="button" id="b3">First login dialog</button>
<button class="button" id="b4">Create jwalelset</button>
<button class="button button-green" id="sync">Sync</button>
<button class="button button-green" id="fetch">Fetch</button>
<button class="button button-red" id="clearLocalStorage">Clear localstorage</button>