<div class="row">
	<div class="col-xs-12 m-b-1">
		<a class="button button-red" id="clearLocalStorage">Clear localstorage</a>

		<label class="switch">
			<input type="checkbox" id="notifications-enabled">
			<div class="switch-inner"></div>
		</label>
	</div>
</div>