<div class="economicon-tiles">
	<div class="tile tile-blue">
		<div class="tile-inner" id="tile-latest-blocks">
			<i class="tile-icon icon-clock"></i>
			<span class="tile-text">Latest Blocks</span>
			<span class="tile-note">(not yet implemented)</span>
		</div>
	</div>
	<div class="tile tile-blue">
		<div class="tile-inner" id="tile-lowest-hashes">
			<i class="tile-icon icon-hash"></i>
			<span class="tile-text">Lowest Hashes</span>
			<span class="tile-note">(not yet implemented)</span>
		</div>
	</div>
	<div class="tile tile-green">
		<div class="tile-inner" id="tile-address-lookup">
			<i class="tile-icon icon-search"></i>
			<span class="tile-text">Address Lookup</span>
			<span class="tile-note">(not yet implemented)</span>
		</div>
	</div>
	<div class="tile tile-green">
		<a href="/economicon/richlist" class="tile-inner" id="tile-top-balances">
			<i class="tile-icon icon-dollar"></i>
			<span class="tile-text">Top Balances</span>
		</a>
	</div>
</div>

<div id="network-footer" class="m-t-2"></div>