#app.theme-blue {
	.topBar {
		background: $primary-blue;

		.sidebar-opener {
			border-right: 1px solid $primary-blue-darker;

			&:hover {
				background: $primary-blue-lighter;
			}
		}

		.topBar-addressSelector {
			&:hover {
				background: $primary-blue-lighter;
			}
		}
	}

	.sidebar {
		background: $primary-blue-darker;

		.sidebar-item {
			color: #fff;

			&:not(.sidebar-search) {
				&:hover {
					background: $primary-blue;
				}

				&.active {
					background: $primary-blue-lighter;

					&:hover {
						background: lighten($primary-blue-lighter, 10%);
					}
				}
			}
		}
	}
}