<div class="pagination-top">
  <a class="pagination-button pagination-left"><i class="icon-left-open"></i></a>
  {{#each (windowHandles)}}
    <a class="pagination-button pagination-page" data-index="{{this}}">{{../normalise this}}</a>
  {{/each}}
  <a class="pagination-button pagination-right"><i class="icon-right-open"></i></a>
</div>
<div class="pagination-info">
  <b>{{localise total}}</b> total items, <b>{{localise pages}}</b> pages
</div>