<p class="m-b-1">
	<b>Enter your secret password to access your Krist wallet.</b><br />
	If this is your first time using Krist, type your desired password.
	You will be able to access your Krist wallet on any computer, any server and from any wallet as long as you type
	in the same password.
</p>

<input type="text" class="text-input u-hidden" placeholder="Wallet username" id="wallet-username" tabindex="1" />
<label for="wallet-username" class="label-hint label-hidden u-hidden" id="wallet-username-label">&nbsp;</label>

<input type="password" class="text-input" placeholder="Wallet password" id="wallet-password" tabindex="2" />
<label for="wallet-password" class="label-hint label-hidden" id="wallet-password-label">&nbsp;</label>

<label for="wallet-format" style="margin-bottom: 0.5rem;">
	Wallet Format (<a class="wallet-format-help" data-bypass>learn more</a>)
</label>

<select class="dropdown-input" id="wallet-format" tabindex="3" style="width: 100%">
	<option value="kristwallet">KristWallet, KWallet (recommended)</option>
	<option value="krist">Local Vault, krist.dia, Krist API</option>
	<option value="kristwallet_username_appendhashes">KW-Username (appendhashes)</option>
	<option value="kristwallet_username">KW-Username (pre-appendhashes)</option>
</select>

<p style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
	Sync Node (<a class="sync-node-help" data-bypass>learn more</a>)
</p>

<input type="text" class="text-input" value="https://krist.ceriat.net" id="wallet-syncnode" tabindex="4" />
<label for="wallet-syncnode" class="label-hint label-hidden" id="wallet-syncnode-label">&nbsp;</label>