<div class="economicon-tiles">
  <div class="tile tile-blue">
    <a href="/blocks" class="tile-inner" id="tile-latest-blocks">
      <i class="tile-icon icon-clock"></i>
      <span class="tile-text">Latest Blocks</span>
    </a>
  </div>
  <div class="tile tile-blue">
    <a href="/blocks/lowest" class="tile-inner" id="tile-lowest-hashes">
      <i class="tile-icon icon-hash"></i>
      <span class="tile-text">Lowest Hashes</span>
    </a>
  </div>
  <div class="tile tile-green">
    <a href="/address/lookup" class="tile-inner" id="tile-address-lookup">
      <i class="tile-icon icon-search"></i>
      <span class="tile-text">Address &amp; Name Lookup</span>
    </a>
  </div>
  <div class="tile tile-green">
    <a href="/economicon/richlist" class="tile-inner" id="tile-top-balances">
      <i class="tile-icon icon-dollar"></i>
      <span class="tile-text">Top Balances</span>
    </a>
  </div>
</div>

<div id="network-footer" class="m-t-2"></div>