
.icon-hamburger:before { content: '\e800'; } /* '' */
.icon-caret-down:before { content: '\e801'; } /* '' */
.icon-send:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-bell-off:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-login:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-dollar:before { content: '\e80d'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */