<div class="row" id="overview"></div>
<div class="row" id="wallet-overview"></div>
<div class="row row-list m-b-1" id="transaction-list">
	<div class="loading-indicator"></div>
</div>
<div class="row" id="pagination-container"></div>