<div class="row" id="overview">
</div>
<div class="row text-center m-b-1">
	<div class="col-xs-12 top">
		<span class="action">Send</span>
		<div class="input-group-addons">
			<input type="number" class="text-input" placeholder="Amount" id="amount" tabindex="1" min="1" value="1" />
			<div class="input-addon">
				KST
			</div>
		</div>
		<label for="amount" class="label-hint label-hidden" id="amount-label">&nbsp;</label>
		<label for="recipient" class="action">to</label>
		<div id="recipient-container"></div>
		<label for="recipient" class="label-hint label-hidden" id="recipient-label">&nbsp;</label>
		<textarea class="text-input" maxlength="255" id="metadata" placeholder="Optional message"></textarea>
	</div>
</div>
<div class="row text-center">
	<div class="col-xs-12">
		<a class="button button-primary button-large" id="transaction-send" tabindex="3">Send</a>
	</div>
</div>