<div class="row text-center m-b-1">
	<div class="col-xs-12 top">
		<span class="action">Send</span>
		<div class="input-group-addons">
			<input type="number" class="text-input" placeholder="Amount" id="amount" />
			<div class="input-addon">
				KST
			</div>
		</div>
		<label for="recipient" class="action">to</label>
		<div id="recipient-container">
		</div>
		<label for="friend-address" class="label-hint label-hidden" id="friend-address-label">&nbsp;</label>
	</div>
</div>
<div class="row text-center">
	<div class="col-xs-12">
		<a class="button button-primary" id="transaction-send">Send</a>
	</div>
</div>