<div class="row" id="overview">
	<div class="loading-indicator"></div>
</div>
<div class="row center-xs m-t-1">
	<div class="col-xs-12">
		<div class="input-group">
			<label for="goto-transaction">Go to transaction</label><input type="number" class="text-input" id="goto-transaction" placeholder="Transaction ID" style="max-width: 200px;" /><a class="button button-primary" id="goto-transaction-go">Go</a>
		</div>
	</div>
</div>

<div id="network-footer" class="m-t-2"></div>