<div class="input-group-addons">
  <input type="text" class="text-input" placeholder="Name" id="name" tabindex="1" pattern="^[a-z0-9]{1,64}$" />
  <div class="input-addon">
    .kst
  </div>
</div>
<label for="name" class="label-hint label-hidden" id="name-label">&nbsp;</label>