<div class="row m-b-1">
	<div class="col-xs-12">
		<h1>Notification Settings</h1>
	</div>
</div>

<div class="row m-b-1">
	<ul class="col-xs-12">
		<li class="cf">
			<h2 class="u-inlineBlock">Notifications Enabled</h2>

			<label class="switch u-floatRight" id="notifications-enabled">
				<input type="checkbox">
				<div class="switch-inner"></div>
			</label>
		</li>
	</ul>
</div>

<div class="row row-disabled row-list" id="all-settings">
	<ul class="col-xs-12">
		<li class="cf">
			<h2 class="u-inlineBlock"><span class="has-title">MOTD</span> Notifications</h2>

			<label class="switch u-floatRight" id="motd-notifications-enabled">
				<input type="checkbox" checked>
				<div class="switch-inner"></div>
			</label>
		</li>
		<li class="cf">
			<h2 class="u-inlineBlock">Transaction Notifications</h2>

			<label class="switch u-floatRight" id="transaction-notifications-enabled">
				<input type="checkbox" checked>
				<div class="switch-inner"></div>
			</label>

			<ul>
				<li class="cf">
					<h2 class="u-inlineBlock">Transaction Sounds</h2>

					<label class="switch u-floatRight" id="transaction-sounds-enabled" >
						<input type="checkbox"checked>
						<div class="switch-inner"></div>
					</label>
				</li>
			</ul>
		</li>
		<li class="cf">
			<h2 class="u-inlineBlock">Block Notifications</h2>

			<label class="switch u-floatRight" id="block-notifications-enabled">
				<input type="checkbox">
				<div class="switch-inner"></div>
			</label>

			<ul>
				<li class="cf">
					<h2 class="u-inlineBlock">Block Sounds</h2>

					<label class="switch u-floatRight" id="block-sounds-enabled">
						<input type="checkbox">
						<div class="switch-inner"></div>
					</label>
				</li>
			</ul>
		</li>
	</ul>
</div>